<div class = "container">
   <h1 class = "title">Welcome to Recent-Tweets!</h1>
  <h4 class = "subtitle">Search for the 10 most recent tweets by username.</h4><br>
  <form id= "search-form" class="form-inline" action="/search" method="post">
    <fieldset class="form-group">
      <input type="text" class="form-control" name= "username" placeholder="Username">
    </fieldset>
    <button type="submit" class="btn btn-primary">Search!</button>
  </form>
</div>
